build --workspace_status_command=./script/get-workspace-status.sh
build --host_javabase=@local_jdk//:jdk
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build --java_toolchain=//:java_toolchain
